body
{
    background-color: white;
}
h1
{
    background-color: rgb(15, 44, 90);
    color: cornflowerblue;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    font-size: 40px;
}
#contactForm{
    min-width: 100%;
}
legend
{
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 2px solid rgb(8, 39, 8);
}
span
{
    color: black;
    font-size: 45px;
}
#email,#name{
    font-size: 30px;  
    max-width: 80%;
}
#message{
    font-size: 25px;
   
    min-width: 100%;
    height: 300px;
}
#btn{
    font-size: 30px;
    background-color: rgb(23, 47, 92);
    color: aliceblue;
    box-shadow: 2px 2px 3px gold;
    border-radius: 5%;
    text-align: center;
}
.alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
  /* part 2 */
/* .emailStyle
{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-width: 50px;
  border: 1px solid blue;
  color: darkblue;
  height: auto;
}
.nameStyle
{
    font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
    min-width: 50px;
    color: rgb(70, 13, 44);
    height: auto;
    border: 1px solid blue;
}
.commentStyle
{
    font-size: 25px;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 500px;
    color:black;
    border: 1px solid blue;
} */
.uls{
    background-color: rgb(115, 117, 172);
    border: 5px solid orange;
    max-width: 90%;
    font-size: 30px;
}
#scoreList
{
    max-width: 90%; 
}
@media all and (max-width: 400px)
{
    .uls
    {
        font-size: 20px;
        max-width: 100%;
    }
    #scoreList{
        width: 100%;
    }
}